<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form row">
          <h5 id="titulo" class="badge bg-primary fs-5">BUSCAR CLIENTE</h5>
          <input class="form-control mt-2" type="text" name="search" id="search" placeholder="Ingrese nombre de Cliente" onkeyup="cambioeltexto()" />

          <button class="btn btn-primary mt-3" onclick="mostrarFlitros()">BUSCAR POR FILTROS</button>

          <div class="gradientefondo align-" id="divFiltros" style="display: none">
            <div class="row justify-content-around align-items-center">
              <div class="col-md-4">
                <div class="form-group">
                  <span class="form-label">ESTADO</span>
                  <select class="form-control" name="estado" id="estado" onchange="cambioelestado()">
                    <option>Seleccione una opcion</option>
                    <option>Alta</option>
                    <option>Alta con Discapacidad</option>
                    <option>Judiciales</option>
                    <option>Acordado</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="form-label">TIPO</span>
                  <select class="form-control" name="tipo" id="tipo" onchange="cambioeltipo()">
                    <option>Seleccione una Opcion</option>
                    <option>Accidente</option>
                    <option>Accidente Initinere</option>
                    <option>Enfermedad</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <span class="form-label">Reset</span>
                  <button class="submit-btn" role="button" onclick="location.reload()">QUITAR FILTROS</button>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <div class="form-check form-switch fs-5 text-light">
                    <input class="form-check-input" type="checkbox" id="switch_importante" name="importante" onchange="cambioelimportante()">
                    <label class="form-check-label" for="switch_importante">IMPORTANTE</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <div class="form-check form-switch fs-5 text-light">
                    <input class="form-check-input" type="checkbox" id="switch_regHonorarios" name="regHonorarios" onchange="cambioelregHonorarios()">
                    <label class="form-check-label" for="switch_regHonorarios">REG HONORARIOS</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-center text-center">
                <div class="form-group">
                  <div class="form-check form-switch fs-5 text-light">
                    <input class="form-check-input" type="checkbox" id="switch_finalizado" name="finalizado" onchange="cambioelfinalizado()">
                    <label class="form-check-label" for="switch_finalizado">FINALIZADO</label>
                  </div>
                </div>
              </div>         
              <div class="col-md-3 d-flex align-items-center text-center">
                <div class="form-group">
                  <div class="form-check form-switch fs-5 text-light">
                    <input class="form-check-input" type="checkbox" id="switch_baja" name="baja" onchange="cambioelBaja()">
                    <label class="form-check-label" for="switch_baja">BAJA</label>
                  </div>
                </div>
              </div>   
            </div>
          </div>

            <div class="table-responsive mt-3">

            <div id="constructorArrays">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="bg-primary fs-5 text-center">DAMNIFICADO</th>
                    <th class="bg-primary fs-5 text-center">DNI</th>
                    <th class="bg-primary fs-5 text-center">EVENTO</th>
                    <th class="bg-primary fs-5 text-center">EDITAR</th>
                    <th class="bg-primary fs-5 text-center">PERFIL</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each links}}
                  <tr>
                    <td class="fs-4 text-light">{{damnificado}}</td>
                    <td class="fs-5 text-light text-center">{{dni_cuil}}</td>
                    <td>
                      <div>
                          <a class="btn submit-btn" href="/links/evento/{{id_cliente}}" role="button"
                            >Asignar Evento
                          </a>
                      </div>
                    </td>
                    <td> 
                      <div>
                          <a class="btn submit-btn" href="/links/edit/{{id_cliente}}" role="button"
                            >Editar Cliente
                          </a>
                      </div>
                    </td> 
                    <td>
                      <div>
                          <a class="btn submit-btn" href="/links/perfil/{{id_cliente}}" role="button"
                            >Ver Perfil
                          </a>
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
        </div>
              <div class="row d-flex justify-content-around">
              <div class="col-md-3">
                <div class="form-btn">
                  <a
                    class="btn submit-btn"
                    href="/links/add"
                    role="button"
                  >AGREGAR CLIENTE</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-btn">
                  <a
                    class="btn submit-btn"
                    href="/profile"
                    role="button"
                  >CANCELAR</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
<script>
  function cambioeltexto(){
  const searchInput = document.getElementById("search");
  const rows = document.querySelectorAll("tbody tr");
  searchInput.addEventListener("keyup", function (event) {
    const q = event.target.value.toLowerCase();
    rows.forEach((row) => {
      row.querySelector("td").textContent.toLowerCase().includes(q)
        ? (row.style.display = "table-row")
        : (row.style.display = "none");
    });
  });}

function resetFiltros(){

}


function mostrarFlitros() {
  var x = document.getElementById("divFiltros");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function cambioelestado(){
const valorEstado = document.getElementById("estado").value;
  arrayFiltrado(valorEstado, "estado");
}

function cambioeltipo(){
const valorTipo = document.getElementById("tipo").value;
  arrayFiltrado(valorTipo, "tipo")
}

function cambioelimportante(){
  let valorImportante = document.getElementById("switch_importante").checked;
  if (valorImportante == true){
    valorImportante="on"
    document.getElementById("titulo").textContent = "BUSCAR CLIENTE POR REG HONORARIOS"}
  else{
    document.getElementById("titulo").textContent = "BUSCAR CLIENTE"
    valorImportante = null}
  arrayFiltrado(valorImportante, "importante")
}
  
function cambioelregHonorarios(){
  let valorregHonorarios = document.getElementById("switch_regHonorarios").checked;
  if (valorregHonorarios == true){
    valorregHonorarios ="on"
    document.getElementById("titulo").textContent = "BUSCAR CLIENTE POR REG HONORARIOS"}
  else{
    document.getElementById("titulo").textContent = "BUSCAR CLIENTE"
    valorregHonorarios = null}
  arrayFiltrado(valorregHonorarios, "regHonorarios")
}

function cambioelfinalizado(){
  let valorFinalizado = document.getElementById("switch_finalizado").checked;
  if (valorFinalizado == true){
    valorFinalizado="on"
    document.getElementById("titulo").textContent = "BUSCAR CLIENTE POR FINALIZADOS"}
  else{
    document.getElementById("titulo").textContent = "BUSCAR CLIENTE"
    valorFinalizado = null}
  arrayFiltrado(valorFinalizado, "finalizado")
}

function cambioelBaja(){
  let valorBaja = document.getElementById("switch_baja").checked;
  if (valorBaja == true){
    valorBaja="on"
    document.getElementById("titulo").textContent = "BUSCAR CLIENTE POR BAJA"}
  else{
    document.getElementById("titulo").textContent = "BUSCAR CLIENTE"
    valorBaja = null}
  arrayFiltrado(valorBaja, "baja")
}



function constructorDeHTML(cli_fil){
  let constructor = '<tr><td class="fs-4 text-light">'+cli_fil.damnificado+'</td><td class="fs-5 text-light text-center">'+cli_fil.dni_cuil+'</td><td><div><a class="btn submit-btn" href="/links/evento/'+cli_fil.id_cliente+'" role="button">Asignar Evento</a></div></td><td> <div><a class="btn submit-btn" href="/links/edit/'+cli_fil.id_cliente+'" role="button">Editar Cliente</a></div></td><td><div><a class="btn submit-btn" href="/links/perfil/'+cli_fil.id_cliente+'" role="button">Ver Perfil</a></div></td></tr>'
  return constructor
}

function arrayFiltrado(valor, campo){

    const clientesSinFiltro = {{{dataCliArray}}};

    constructor = "";
    document.getElementById("constructorArrays").innerHTML = constructor;

    constructorPre ='<table class="table table-hover"><thead><tr><th class="bg-primary fs-5 text-center">DAMNIFICADO</th><th class="bg-primary fs-5 text-center">DNI</th><th class="bg-primary fs-5 text-center">EVENTO</th><th class="bg-primary fs-5 text-center">EDITAR</th><th class="bg-primary fs-5 text-center">PERFIL</th></tr></thead><tbody>'

    sinClientes = constructor

    if (campo == "estado"){
        const clientesFiltrados = clientesSinFiltro.filter(function(cli_fil){
          if (cli_fil.estado == valor){
            constructor += constructorDeHTML(cli_fil)
            }
          return true
        });}
    if (campo == "tipo"){
      const clientesFiltrados = clientesSinFiltro.filter(function(cli_fil){
          if (cli_fil.tipo == valor){
            constructor += constructorDeHTML(cli_fil)
            }
          return true
        });
    }
    if (campo == "importante"){
      const clientesFiltrados = clientesSinFiltro.filter(function(cli_fil){
          if (cli_fil.importante == valor){
            constructor += constructorDeHTML(cli_fil)
            }
          return true
        });
    }
    if (campo == "regHonorarios"){
      const clientesFiltrados = clientesSinFiltro.filter(function(cli_fil){
          if (cli_fil.regHonorarios == valor){
            constructor += constructorDeHTML(cli_fil)
            }
          return true
        });
    }
    if (campo == "finalizado"){
      const clientesFiltrados = clientesSinFiltro.filter(function(cli_fil){
          if (cli_fil.finalizado == valor){
            constructor += constructorDeHTML(cli_fil)
            }
          return true
        });
    }
    if (campo == "baja"){
      const clientesFiltrados = clientesSinFiltro.filter(function(cli_fil){
          if (cli_fil.baja == valor){
            constructor += constructorDeHTML(cli_fil)
            }
          return true
        });
    }

  if (sinClientes == constructor){
    document.getElementById("constructorArrays").innerHTML = '<div class="bg-primary col-12 justify-content-center"><h3 class="text-white text-center ">No hay ningun cliente que cumpla con este Filtro</h3></div>'}
  else{
    constructor += "</tbody></table>";
    document.getElementById("constructorArrays").innerHTML = constructorPre+constructor;}
}

</script>




