<body onload="cargarDatosDeCliente()">
  
  <div class="container" onload="cargarDatosDeCliente()">
     <div class="row">
        <div class="col-md-12">
           <div id="content" class="content content-full-width">
              <div class="profile">
                 <div class="profile-header">
                    <div class="profile-header-cover"></div>
                    <div class="profile-header-content">
                       <div class="profile-header-img">
                          <img src="/img/logop.png" alt="">
                       </div>
                       <div class="profile-header-info" id="botonActu">
                          <h4 id="idnombrehtml" class="m-t-10 m-b-5"></h4>
                          <p class="m-b-10" id="dninombrehtml"></p>
                       </div>
                    </div>
                    <ul class="profile-header-tab nav nav-tabs" id="barradelinks">
                       <li class="nav-item"><a href="#" class="nav-link" onclick="cargarDatosDeCliente()">VER TODOS</a></li>
                       <li class="nav-item"><a href="#" class="nav-link" onclick="cargarDatosLegales()">EVENTOS LEGALES</a></li>
                       <li class="nav-item"><a href="#" class="nav-link" onclick="cargarDatosMedicos()">EVENTOS MEDICOS</a></li>
                       <li class="nav-item"><a href="#" class="nav-link "onclick="cargarDatosPsicologicos()">EVENTOS PSICOLOGICOS</a></li>
                    </ul>
                 </div>
              </div>
  
              <div class="profile-content">
                 <div class="tab-content p-0">
                    <div class="tab-pane fade active show" id="eventosPost">

                    </div>
                 </div>
              </div>
              
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary mb-3" href="/profile" role="button">VOLVER AL MENU</a>
              </div>
           </div>
        </div>
     </div>
  </div>
</body>

<script>
  function cargarDatosLegales(){
    const allEvents = {{{dataeventos}}};
    const arrayLegales = allEvents.filter(function(evtL){
      if (evtL.diag_leg != "")
      return true
    })
    generadoraHtml(arrayLegales, "legal")
  }

  function cargarDatosMedicos(){
    const allEvents = {{{dataeventos}}};
    const arrayMedicos = allEvents.filter(function(evtM){
      if (evtM.diag_med != "")
      return true
    })
    generadoraHtml(arrayMedicos, "medico")
  }

  function cargarDatosPsicologicos(){
    const allEvents = {{{dataeventos}}};
    const arrayPsico = allEvents.filter(function(evtP){
      if (evtP.diag_psico != "")
      return true
    })
    generadoraHtml(arrayPsico, "psico")
  }

  function generadoraHtml(arrayEvt, flag){

    constructor = ""
    constructor = '<ul class="timeline">'

    for (let index = 0; index < arrayEvt.length; index++) {
      constructor += '<li><div class="timeline-time"><span class="date"></span>Fecha: <span class="time">'+arrayEvt[index].fecha_evt+'</span></div><div class="timeline-icon"><a href="">&nbsp;</a></div><div class="timeline-body">';
      if (flag == "legal" || flag == "todos"){
        constructor += '<div class="timeline-header"><span class="username"><a href="">DIAGNOSTICO LEGAL</a></span></div><div class="timeline-content"><p>'+arrayEvt[index].diag_leg+'</p><br><p>PROXIMA VISITA LEGAL: '+arrayEvt[index].fecha_prox_legal+'</p></div>'};
      if (flag == "medico" || flag == "todos"){
        constructor += '<div class="timeline-header"><span class="username"><a href="">DIAGNOSTICO MEDICO</a></span></div><div class="timeline-content"><p>'+arrayEvt[index].diag_med+'</p><br><p>PROXIMA VISITA MEDICA: '+arrayEvt[index].fecha_prox_med+'</p></div>'};
      if (flag == "psico" || flag == "todos"){
        constructor += '<div class="timeline-header"><span class="username"><a href="">DIAGNOSTICO PSICOLOGICO</a></span></div>      <div class="timeline-content"><p>'+arrayEvt[index].diag_psico+'</p><br><p>PROXIMA VISITA PSICOLOGICA: '+arrayEvt[index].fecha_prox_psico+'</p></div>'};
      constructor += '<div class="timeline-comment-box"><div class="input"><div class="input-group"><span class="input-group-btn p-l-10"><button class="btn btn-primary f-s-12 rounded-corner" type="button">EDITAR</button> Fecha de Contacto: '+arrayEvt[index].fecha_prox_contacto+' Realizado: '+arrayEvt[index].check+'</span></div></div></div></div></li>';
    }
    constructor += '</ul>'
    
    if (arrayEvt.length == 0){
      console.log("entro al IF)")
      document.getElementById("eventosPost").innerHTML = '<div class="booking-form text-center"><h2>NO HAY EVENTOS PARA EL CLIENTE SELECCIONADO</h2></div>'}
      else{document.getElementById("eventosPost").innerHTML = constructor}
  }

  function cargarDatosDeCliente(){ 
    const allEvents = {{{dataeventos}}};
    console.log(allEvents)
    const clienteSeleccionado = {{{clienteSel}}};

    document.getElementById("idnombrehtml").innerHTML = clienteSeleccionado[0].damnificado;
    document.getElementById("dninombrehtml").innerHTML = 'DNI: '+clienteSeleccionado[0].dni_cuil+' Telefono: '+clienteSeleccionado[0].telefono;
    
    document.getElementById("botonActu").innerHTML += '<a href="/links/edit/'+clienteSeleccionado[0].id_cliente+'" class="btn btn-primary mb-2">EDITAR DATOS</a>'
    
    document.getElementById("barradelinks").innerHTML += '<li class="nav-item"><a class="btn btn-primary" href="/links/evento/'+clienteSeleccionado[0].id_cliente+'" role="button">AGREGAR EVENTO</a></li>'

    generadoraHtml(allEvents,"todos")
  };

</script>